# Empty CSS file for your own CSS

# Halaman login
div.login{
	margin: 5px 0px 5px 0px;
}
.container-fluid .login-box {
	height: 220px;
	width: 250px;
	background-color: #333333;
	border-radius: 12px;	
}
.container-fluid .login-text {
	padding: 0px 10px;	
}
.container-fluid .btn-login {
	background-color: #222222;
	color: orange;
	border: 0px;
}
.container-fluid .form-control {
	background-color: #444444;
	color: white;
	border: 0px;
}